
    <h1>Bill Splitter App</h1>

    <form action='/outcome' >
    <div>
    <label for="amount"> amount </label>
    <input type="text" name="amount">
    </div>
    <div>
    <label for="tax"> tax </label>
    <input type="text" name="tax">
    </div>
    <div>
    <label for="numberPeople"> number of people </label>
    <input type="text" name="numberPeople">
    </div>
    <input type="submit" value="Send">
    </form>
 